.btnGr {
  display: flex;
  gap: 44px;
  margin-top: 40px;
}

.btnDisabled {
  background-color: grey !important;
  outline: none;
}

@media (width <= 768px) {
  .modalCSV {
    height: auto;
  }

  .btnGr {
    flex-direction: column;
    gap: 30px;
    margin-top: 40px;
  }
}

@media (width <= 768px) {
  .modalCSV {
    height: auto;
  }
}
