:root {
  --input-gap: 35px 0;
}

.createTask {
  display: flex;
  flex-direction: column;
  gap: var(--input-gap);
  max-height: 440px;
  max-width: 100%;
  overflow-y: auto;
  padding: 0 24px 10px;
  width: 480px;
}

.btnGp {
  display: flex;
  gap: 0 44px;
  margin-top: 40px;
}

.answerForm {
  display: flex;
  flex-direction: column;
  gap: var(--input-gap);
}

.createTask::-webkit-scrollbar {
  background-color: var(--main-color);
  width: 16px;
}

.createTask::-webkit-scrollbar-track {
  background-color: var(--main-color);
}

.createTask::-webkit-scrollbar-thumb {
  background-color: var(--orange-color);
  border: 4px solid var(--main-color);
  border-radius: 16px;
}

.createTask::-webkit-scrollbar-button {
  display: none;
}

@media screen and (width <= 768px) {

  .createTask {
    max-height: 100%;
    overflow-y: visible;
    padding: 0;
    width: 360px;
  }

  :root {
    --input-gap: 30px 0;
  }

  .answerForm::before {
    transform: translateX(40%);
  }

  .btnGp {
    flex-direction: column;
    gap: var(--input-gap);
    margin-top: 35px;
  }
}

@media screen and (width <= 480px) {

  .createTask {
    width: 100%;
  }

  .answerForm::before {
    max-width: 100%;
    transform: translateX(0);
  }

  .createTask::-webkit-scrollbar-thumb {
    border: 6px solid var(--main-color);
  }
}
