:root {
  --input-gap: 35px 0;
}

.createTask {
  width: 480px;
  display: flex;
  flex-direction: column;
  gap: var(--input-gap);
  padding: 0 24px;
  max-height: 440px;
  overflow-y: auto;
  max-width: 100%;
}

.btnGp {
  margin-top: 40px;
  display: flex;
  gap: 0 44px;
}

.answerForm {
  display: flex;
  flex-direction: column;
  gap: var(--input-gap);
  padding-top: 35px;
  position: relative;
  &::before {
    content: '';
    display: block;
    max-width: 200px;
    width: 100%;
    height: 1px;
    background: var(--orange-color);
    position: absolute;
    top: 0;
    left: 25%;
  }
}

/*  */
.createTask::-webkit-scrollbar {
  background-color: #fff;
  width: 16px;
}
/* background of the scrollbar except button or resizer */
.createTask::-webkit-scrollbar-track {
  background-color: #fff;
}

/* scrollbar itself */
.createTask::-webkit-scrollbar-thumb {
  background-color: var(--orange-color);
  border-radius: 16px;
  border: 4px solid #fff;
}

/* set button(top and bottom of the scrollbar) */
.createTask::-webkit-scrollbar-button {
  display: none;
}
