.main {
  width: 100%;
  max-width: 1920px;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media (max-width: 1600px) {
  .main {
    justify-content: space-between;
    padding: 90px 0px;
  }

  .reg_image {
    width: 30%;
  }

  .main .reg_form {
    height: 450px;
  }
}

@media (max-width: 1200px) {
  .main {
    flex-direction: column;
  }

  .reg_image {
    display: none;
  }
}

@media (max-width: 768px) {
  .main .reg_input {
    width: 350px;
  }
}

@media (max-width: 480px) {
  .main .reg_input {
    width: 270px;
  }
}

.reg_form {
  height: 500px;

  font-weight: 600;

  display: flex;
  flex-direction: column;
  align-items: left;

  font-size: 32px;
}

.reg_image {
  width: 55%;
}

.reg_input {
  height: 60px;
  width: 420px;

  border: 1px solid #f37022;
  border-radius: 3px;

  padding-left: 30px;

  margin-top: 30px;

  color: black;

  font-size: 16px;
  font-weight: 500px;
  font-family: 'Montserrat', sans-serif;
}

.reg_input::placeholder {
  color: black;

  font-size: 16px;
  font-weight: 500px;
  font-family: 'Montserrat', sans-serif;
}

.reg_button {
  color: azure;
  height: 70px;
  width: 220px;

  font-size: 18px;
  font-family: 'Montserrat', sans-serif;

  background-color: #f37022;
  border: none;
  box-shadow: 0px 4px 4px #26323820;

  justify-self: flex-end;

  margin-top: auto;

  text-transform: uppercase;
  cursor: pointer;
  transition: 0.4s;

  border-radius: 3px;
}

.reg_button:hover {
  transition: 0.4s;
  background-color: #cb5d1d;
}

.reg_selecttext {
  font-weight: normal;
  font-size: 18px;
}

.reg_selecttext_button {
  font-weight: 400;
  color: #f37022;
  cursor: pointer;
}
