.control {
  position: relative;
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
}

.control input {
  border: 1px solid var(--orange-color);
  outline: none;
  height: 59px;
  width: 100%;
}

.control input:focus,
.control input:valid {
  border-color: var(--orange-color);
}

.control label {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
  pointer-events: none;
  display: flex;
  align-items: center;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.control label span {
  display: inline-block;
  color: var(--black-color);
  background-color: #fff;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.control input:focus+label span,
.control input:valid+label span {
  color: var(--black-color);
  transform: translateY(-30px);
}

.inputCustom {
  border-color: var(--orange-color);
  border-radius: var(--border-radius);
  padding: 20px 30px;
  width: 100%;

  &::-ms-reveal {
    height: 0;
    width : 0;
  }
}

@media screen and (width <= 480px) {

  .inputCustom {
    font-size: 14px;
    padding: 18px 15px;
  }
}