.label {
  align-items: center;
  display: flex;
  gap: 10px;
}

.deleteBtn, .addBtn {
  background: none;
  border: none;
  outline: none;
}

.addBtn {
  align-items: center;
  display: flex;
  gap: 10px;
  width: fit-content;
}