.wrapper{
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 200px;
    box-sizing: border-box;
}

@media (max-width: 1200px){
    .wrapper{
        padding: 0 98px;
    }
}

@media (max-width: 940px){
    .wrapper{
        padding: 0 40px;
    }
}

@media (max-width: 480px){
    .wrapper{
        padding: 0 30px;
    }
}

@media (max-width: 320px){
    .wrapper{
        padding: 0 15px;
    }
}