:root{
    --main-color: #fff;
    --submain-color: #FFFAF8;
    --text-color: #000;
    --orange-color: #F37022;
    --black-color: #000;
    --white-color: #fff;
}

[data-theme='light'] {
    --main-color: #fff;
    --submain-color: #FFFAF8;
    --text-color: #000;
    --orange-color: #F37022;
    --black-color: #000;
    --white-color: #fff;
}

[data-theme='dark'] {
    --main-color: #000;
    --submain-color: #2F1506;
    --text-color: #FFF;
    --orange-color: #F37022;
    --black-color: #000;
    --white-color: #fff;
}

*{
    color: var(--text-color);
}

.main-title {
    background-color: #2F1506;
    color: red;
}

body{
    background-color: var(--main-color);
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    margin: 0;
}
