.codeEditorsContainer {
  display: flex;
  gap: 70px;
  justify-content: space-between;
}

.attempts {
  font-weight: 500;
  margin: 0 0 10px;
}

.codeEditorContainer {
  max-width: 670px;
  width: 100%;
}

.codeEditor {
  height: 670px;
}

.submitContainer {
  margin: 0;
}

.alarm {
  background: var(--submain-color);
  border-radius: 3px;
  margin: 17px 0 0;
  padding: 18px 36px;
}

.mainButton {
  background-color: var(--orange-color);
  border: none;
  border-radius: 3px;
  box-shadow: 0 4px 4px #26323820;
  color: azure;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  height: 55px;
  justify-self: flex-end;
  transition: 0.4s;
  width: 180px;
}

.mainButton:hover {
  background-color: #cb5d1d;
  transition: 0.4s;
}

.readyButton {
  margin: 70px 0;
}

.submitButton {
  margin: 50px 0 0;
}


@media (width <= 1200px) {

  .codeEditorsContainer {
    display: block;
  }

  .codeEditorContainer {
    max-width: none;
  }

  .codeEditor {
    height: 380px;
  }

  .submitContainer {
    display: flex;
    gap: 25px;
    justify-content: end;
    margin: 10px 0 50px;
  }

  .alarm {
    flex: 1 1 0;
    margin: 0;
  }

  .submitButton {
    margin: 0;
  }
}

@media (width <= 768px) {

  .readyButton {
    margin: 50px 0;
  }

  .submitContainer {
    display: block;
  }

  .alarm {
    margin-bottom: 20px;
  }
}

@media (width <= 380px) {

  .leaveRoomButton {
    margin: 50px 0;
  }
}