/*TODO: move colors to global vars*/
.form {
  height: 190px;
  width: 480px;
  text-align: center;
  position: relative;
}

.input {
  display: none;
}

.label {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-width: 1px;
  border-radius: 3px;
  border-style: dashed;
  border-color: var(--orange-color);
  background-color: #fff;
  padding: 0 12px;
}

.label.dragActive {
  background-color: rgba(243, 112, 34, 0.3);
}

.uploadButton {
  color: #000;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.uploadButton:hover {
  text-decoration-line: underline;
}

@media screen and (width <= 768px) {
  .form {
    max-width: 480px;
    width: 100%;
  }
}
