.popOver {
  background-color: var(--main-color);
  border: 1px solid var(--orange-color);
  border-radius: 5px;
  box-shadow: 2px 2px 10px 2px var(--submain-color);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  padding: 15px;
  position: absolute;
  top: 50px;
  z-index: 100;
}

.popOverSection {
  align-items: center;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  text-decoration: none;
  width: 150px;

  &:hover{
    background-color: var(--submain-color);
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.p {
  margin-left: 10px;
}

@media (width <= 480px) {
    
  .p {
    margin-left: 0;
  }

  .popOver {
    gap: 2px;
  }

  .popOverSection {
    padding: 5px;
    width: 100px;
  }

  .popOverSection > svg {
    display: none;
  }
}
