.wrapper{
  margin: 0 !important;
}

header {
  align-self: center;
  display: flex;
  height: var(--footer-height);
  justify-content: space-between;
  max-width: 1920px;
  width: 100%;
}

.headerLeft {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.headerRight{
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 4dvh;
}

.profileImg{
  border-radius: 100%;
  height: 45px;
  margin-right: 15px;
  object-fit: contain;
  width: 45px;
}

.profileUsername {
  font-size: 18px;
}

.profileContWrapper{
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 67px;
  position: relative;
}

.profileCont{
  align-items: center;
  display: flex;
  justify-content: center;
}

.link:hover{
  color: var(--orange-color);
}

@media (width <= 480px) {

  .profileContWrapper{
    margin-right: 0;
  }

  .profileUsername{
    display: none;
  }

  .profileCont{
    margin-right: 10px;
  }
}
