@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");

* {
  box-sizing: border-box;
}

html,
main,
#root {
  height: calc(100vh - (var(--header-height) + var(--footer-height)));
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  user-select: none;
  width: 100%;
}

main {
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, "avenir next", avenir,
    "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial, sans-serif;
  overscroll-behavior-y: none;
  perspective: 2500px;
  perspective-origin: 50% 50%;
  position: fixed;
}

h4 {
  color: inherit;
  display: inline-block;
  font-family: Roboto, sans-serif;
  font-size: 400px;
  font-style: normal;
  font-weight: 800;
  left: 50%;
  letter-spacing: -10px;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate3d(-50%, -50%, 0) rotate3d(1, 0, 0, 55deg)
    rotate3d(0, 0, 1, 45deg);
}

.containerConnect,
.bg {
  height: 100%;
  position: absolute;
  width: 100%;
}

.containerConnect > .close,
.containerConnect > .open {
  font-size: 230px;
  letter-spacing: -10px;
  margin-top: -230px;
}

.containerConnect > .close {
  margin-top: 230px;
}

.container {
  background: var(--main-color);
  border: 1px solid var(--orange-color);
  border-radius: var(--border-radius);
  color: var(--text-color);
  padding: 50px;
}

.leaveRoomButton { 
  margin: 50px 0 100px;
  width: 220px;
}

.mainTitle {
  color: var(--text-color);
  margin: 0 0 40px;
}

.mainTitle::first-letter {
  color: var(--orange-color);
}

.descriptionContainer {
  display: flex;
  gap: 70px;
}

.description {
  margin: 0;
  max-width: 670px;
  width: 100%;
}

.results {
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: 670px;
  width: 100%;
}

.resultsText {
  margin: 0;
}

@media (width <= 1200px) {

  .main {
    max-width: 1000px;
  }

  .descriptionContainer {
    display: block;
  }

  .resultsText {
    margin-top: 40px;
  }

  .results {
    gap: 0;
  }
}

@media (width <= 768px) {

  .main {
    max-width: 700px;
  }
}

@media (width <= 480px) {

  .main {
    max-width: 420px;
  }

  .container {
    padding: 20px;
  }
}

@media (width <= 380px) {

  .main {
    max-width: 290px;
  }

  .leaveRoomButton {
    margin: 50px 0;
  }
}