.main {
  background: var(--main-color);
  margin: 0 auto;
  max-width: 1530px;
}

.container {
  background: var(--main-color);
  border: 1px solid var(--orange-color);
  border-radius: var(--border-radius);
  color: var(--text-color);
  padding: 50px;
}

.leaveRoomButton { 
  margin: 50px 0 100px;
  width: 220px;
}

.mainTitle {
  color: var(--text-color);
  margin: 0 0 40px;
}

.mainTitle::first-letter {
  color: var(--orange-color);
}

.descriptionContainer {
  display: flex;
  gap: 70px;
}

.description {
  margin: 0;
  max-width: 670px;
  width: 100%;
}

.results {
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: 670px;
  width: 100%;
}

.resultsText {
  margin: 0;
}

@media (width <= 1200px) {

  .main {
    max-width: 1000px;
  }

  .descriptionContainer {
    display: block;
  }

  .resultsText {
    margin-top: 40px;
  }

  .results {
    gap: 0;
  }
}

@media (width <= 768px) {

  .main {
    max-width: 700px;
  }
}

@media (width <= 480px) {

  .main {
    max-width: 420px;
  }

  .container {
    padding: 20px;
  }
}

@media (width <= 380px) {

  .main {
    max-width: 290px;
  }

  .leaveRoomButton {
    margin: 50px 0;
  }
}