.main {
  align-items: center;
  display: flex;
  height: calc(100vh - (var(--header-height) + var(--footer-height)));
  justify-content: center;
}

.loader {
  animation: rotation 1s linear infinite;
  border-radius: 50%;
  border-right: 4px solid transparent;
  border-top: 4px solid var(--text-color);
  box-sizing: border-box;
  display: inline-block;
  height: 48px;
  width: 48px;
}

.loader::after {
  border-bottom: 4px solid var(--orange-color);
  border-left: 4px solid transparent;
  border-radius: 50%;
  box-sizing: border-box;
  content: '';
  height: 48px;
  left: 0;
  position: absolute;
  top: 0;
  width: 48px;
}

@keyframes rotation {

  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
} 