.inputSearch {
    width: 50dvw;
    padding: 6px 30px;
    border: none;
    border-bottom: 1px solid var(--orange-color);
    font-size: 16px;
    background-color: var(--main-color);
}

.inputSearch::placeholder {
    color: var(--orange-color);
    font-size: 16px;
}

.inputSearch:focus {
    outline: none;
}

@media (width <= 1700px) {
    .inputSearch {
        width: 90dvw;
    }
}
