.inputSearch {
    border: none;
    border-bottom: 1px solid #f37022;
    font-size: 16px;
    padding: 6px 30px;
    width: 1000px;
}

.inputSearch::placeholder {
    color: #f37022;
    font-size: 16px;
}

.inputSearch:focus {
    outline: none;
}

@media (width <= 1200px) {

    .inputSearch {
        width: 100%;
    }
}