.textAreaCustom {
  background: var(--main-color);
  border: 1px solid var(--orange-color);
  border-radius: var(--border-radius);
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  min-height: 112px;
  outline: none;
  padding: 20px 30px;
  resize: none;
  width: 100%;
}

.textAreaCustom::-webkit-scrollbar {
  background-color: var(--main-color);
  width: 16px;
}

.textAreaCustom::-webkit-scrollbar-track {
  background-color: var(--main-color);
}

.textAreaCustom::-webkit-scrollbar-thumb {
  background-color: var(--orange-color);
  border: 4px solid var(--main-color);
  border-radius: 16px;
}

.textAreaCustom::-webkit-scrollbar-button {
  display: none;
}

@media screen and (width <= 480px) {

  .textAreaCustom {
    font-size: 14px;
    padding: 21px 15px;
  }

  .textAreaCustom::-webkit-scrollbar-thumb {
    border: 6px solid var(--main-color);
  }
}

.control {
  align-items: center;
  display: flex;
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  position: relative;
}

.control textarea {
  border: 1px solid var(--orange-color);
  height: 59px;
  outline: none;
  width: 100%;
}

.control textarea:focus,
.control textarea:valid {
  border-color: var(--orange-color);
}

.control label {
  align-items: center;
  background-color: var(--main-color);
  display: flex;
  left: 30px;
  pointer-events: none;
  position: absolute;
  top: 25%;
  transform: translateY(-50%);
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.control label span {
  background-color: var(--main-color);
  color: var(--text-color);
  display: inline-block;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  white-space: pre;

  &:first-child{
    padding-left: 5px;
  }

  &:last-child{
    padding-right: 5px;
  }
}

.control textarea:focus+label span,
.control textarea:valid+label span {
  color: var(--text-color);
  transform: translateY(-30px);
}