.popOver{
    border-radius: 5px;
    width: 100%;
    position: absolute;
    top: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.link{
    margin-bottom: 10px;
    text-decoration: none;
}

.link:hover{
    color: var(--orange-color);
}