.button {
  background: var(--main-color);
  border: none;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 4px 0 rgb(38 50 56 / 25%);
  color: var(--text-color);
  font-size: 16px;
  font-weight: 500;
  max-width: 100%;
  outline: 1px solid var(--orange-color);
  padding: 25px 0;
  transition: 0.3s;
  width: 100%;

  &:hover {
    background-color: #dbdbdb;
    color: var(--black-color);
  }
}

.orangeBtn {
  background: var(--orange-color);
  color: var(--white-color) !important;

  &:hover {
    background-color: #cb5d1d;
  }
}
